.todoItemBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: #5c5cbc;
}


.deleteButton {
    margin-left: 10px;
    padding: 10px 20px;
    border-radius: 14px;
    border: none;
    background-color: #5c5cbc;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s ease;
    font-weight: 500;
}

.deleteButton:hover {
    background-color: #4a4a9a;
}

.deleteButton:active {
    background-color: #3d3d7d;
}